body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@keyframes bounce {
  10% {
    transform: translateY(-35px);
  }
  15% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(0px);
  }
  50% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  70% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes shadow {
  10% {
    transform: scaleX(0.6);
  }
  15% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0.8);
  }
  30% {
    transform: scaleX(1);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes fadein{
  from{opacity:0}
  to{opacity:1}
}

@-moz-keyframes fadein{
  from{opacity:0}
  to{opacity:1}
}

@keyframes fadein{
  from{opacity:0}
  to{opacity:1}
}


@keyframes imgLoading {
  
  50% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  70% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
