.page-element{
    border: 1.4px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    line-height: 25px;
    margin: 0 2px;
    cursor: pointer;

    .pokeball {
        height: 100%;
        position: relative;
        width: 100%;
  
        &::after {
          border-radius: 50%;
          background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 254, 254, 1) 49.5%,
            rgba(0, 0, 0, 1) 49.5%,
            rgba(0, 0, 0, 1) 51.5%,
            rgba(244, 0, 31, 1) 51.5%,
            rgba(255, 0, 0, 1) 100%
          );
          content: "";
          height: 100%;
          position: absolute;
          width: 100%;
          left: 0;
        }
  
        &::before {
          border-radius: 50%;
          border: 3px black;
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 40%,
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 1) 60%,
            rgba(255, 255, 255, 1) 60%,
            rgba(255, 255, 255, 1) 100%
          );
          content: "";
          height: 6px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 6px;
          z-index: 1;
        }
      }
}