.pokemon-details-grid{
   display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows: auto;
    column-gap: 10px;

    @media only screen and (max-width: 767px) {
        grid-template-columns:  1fr ;
        grid-template-rows: auto;
        & div:first-child {
            grid-column:1;
            grid-row: 2;
        }
    }
}

.pokemon-details-title{
    display: flex;
    align-items: baseline;

    small{
        font-weight: bold;
        font-size: larger;
        margin-left: 10px;

        svg{
            fill: rgb(227, 243, 81);
        }
    }

    @media only screen and (max-width: 767px) {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}