.suggest{
    width: 95%;
    background-color: #ffffff;
    cursor: pointer;
    height: 50px;
    display: flex;
    margin: 5px auto;
    border-radius: 5px;
    color: black;

    

    span{
        margin: auto 0;
    }

    &:hover{
        background-color: #aaaaaa;
    }
}